/*CSS RESET*/
:root {
  --navbar--height: 10px;
}

* {
  margin: 0;
  padding: 0;
}

#navbar {
  display: flex;
  align-self: center;

}

#logo {
  margin: 10px 10px;


}

#logo img {
  height: 40px;
  margin: 0px 20px;
}
#navbar{
  display:flex;
  justify-content: space-between;
  height: 60px;
  background-color: rgb(81, 10, 10);
}

#navbar ul {
  display: flex;
  justify-content:center ;
  align-items: center;
}
#navbar ul li {
  list-style: none;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
}

#navbar ul li a {
  color: whitesmoke;
  display: block;
  padding: 3px 22px;
  border-radius: 20px;
  text-decoration: none;
}
#navbar ul li a :hover{
 color: black;
 background-color: white;
}
#head{
  display:flex;
  justify-content: space-between;
  height: 60px;
  background-color: rgb(81, 10, 10);
}


